@page
@model MascotaFeliz.App.Frontend.Pages.VisitaModel
@{

    ViewData["Title"] = "Visita PyP";
}

<div class="row">
    <div class="col-md-6 animate__animated animate__fadeInLeft">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <h3 class="fw-bolder mb-0">Registro de Visita PyP</h3>
                <p class="fs-6 lead">Ingresa los datos a registrar.</p>
                <form class="needs-validation clss-form" autocomplete="off" method="post">
                    <div class="row g-3">
                        <div class="col-6 mt-1">
                            <label for="temperatura" asp-for="Visita.Temperatura"
                                class="form-label mb-0">Temperatura</label>
                            <input type="text" asp-for="Visita.Temperatura" class="form-control" id="temperatura"
                                placeholder="Ingresar temperatura">
                            <span class="text-danger" asp-validation-for="Visita.Temperatura"></span>
                        </div>

                        <div class="col-6 mt-1">
                            <label for="peso" asp-for="Visita.Peso" class="form-label mb-0">Peso</label>
                            <input type="text" asp-for="Visita.Peso" class="form-control" id="peso"
                                placeholder="Ingresar peso">
                            <span class="text-danger" asp-validation-for="Visita.Peso"></span>

                        </div>

                        <div class="col-6 mt-1">
                            <label for="frecuenciaRespiratoria" asp-for="Visita.FrecuenciaRespiratoria"
                                class="form-label mb-0">Frecuencia Respiratoria</label>
                            <input type="text" asp-for="Visita.FrecuenciaRespiratoria" class="form-control"
                                id="frecuenciaRespiratoria" placeholder="Ingresar frecuencia respiratoria">
                            <span class="text-danger" asp-validation-for="Visita.FrecuenciaRespiratoria"></span>
                        </div>

                        <div class="col-6 mt-1">
                            <label for="frecuenciaCardiaca" asp-for="Visita.FrecuenciaCardiaca"
                                class="form-label mb-0">Frecuencia Cardiaca</label>
                            <input type="text" asp-for="Visita.FrecuenciaCardiaca" class="form-control"
                                id="frecuenciaCardiaca" placeholder="Ingresar frecuencia cardiaca">
                            <span class="text-danger" asp-validation-for="Visita.FrecuenciaCardiaca"></span>
                        </div>

                        <div class="col-12 mt-1">
                            <label for="estadoAnimo" asp-for="Visita.EstadoAnimo" class="form-label mb-0">Estado
                                Animo</label>
                            <input type="text" asp-for="Visita.EstadoAnimo" class="form-control" id="estadoAnimo"
                                placeholder="Ingresar estado animo">
                            <span class="text-danger" asp-validation-for="Visita.EstadoAnimo"></span>
                        </div>

                        <div class="col-12 mt-1">
                            <label for="recomendaciones" asp-for="Visita.Recomendaciones"
                                class="form-label mb-0">Recomendaciones</label>
                            <input type="text" asp-for="Visita.Recomendaciones" class="form-control"
                                id="recomendaciones" placeholder="Ingresar recomendaciones">
                            <span class="text-danger" asp-validation-for="Visita.Recomendaciones"></span>
                        </div>

                        <div class="col-12 mt-1">
                            <label for="veterinario" asp-for="Visita.IdVeterinario" class="form-label mb-0">Veterinario</label>
                            <select class="form-control" id="veterinario" asp-for="Visita.IdVeterinario"
                                name="veterinarioId" aria-label="Default select example">
                                <option value="0">Seleccione el veterinario</option>
                                @foreach (var veterinario in Model.veterinarios)
                                {
                                    <option value="@veterinario.Id">@veterinario.Nombres @veterinario.Apellidos</option>
                                }
                            </select>
                            <span class="text-danger" asp-validation-for="Visita.IdVeterinario"></span>
                        </div>

                    </div>
                    <button class="w-100 btn btn-primary btn-lg mt-4" type="submit">Registrar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 animate__animated animate__fadeInRight">
        <img src="~/img/visita.png" class="w-100">
    </div>
</div>