@page
@model MascotaFeliz.App.Frontend.Pages.PropietarioModel
@{
    ViewData["Title"] = "Propietarios";

    int pacienteId = Model.Propietario.Id;
}

<div class="row">
    <div class="col-md-5 animate__animated animate__fadeInLeft">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <h3 class="fw-bolder mb-0">Registro de Propietario</h3>
                <p class="fs-6 lead">Ingresa los datos a registrar.</p>
                <form class="needs-validation clss-form" autocomplete="off" method="post">
                    <input type="hidden" asp-for="Propietario.Id" />
                    <div class="row g-3">
                        <div class="col-12 mt-1">
                            <label for="nombre" asp-for="Propietario.Nombres" class="form-label mb-0">Nombres</label>
                            <input type="text" asp-for="Propietario.Nombres" class="form-control" id="nombre"
                                placeholder="Ingresar nombres">
                            <span class="text-danger" asp-validation-for="Propietario.Nombres"></span>
                        </div>

                        <div class="col-12 mt-1">
                            <label for="apellido" asp-for="Propietario.Apellidos"
                                class="form-label mb-0">Apellidos</label>
                            <input type="text" asp-for="Propietario.Apellidos" class="form-control" id="apellido"
                                placeholder="Ingresar apellidos">
                            <span class="text-danger" asp-validation-for="Propietario.Apellidos"></span>
                        </div>

                        <div class="col-12 mt-1">
                            <label for="direccion" asp-for="Propietario.Direccion"
                                class="form-label mb-0">Dirección</label>
                            <input type="text" asp-for="Propietario.Direccion" class="form-control" id="direccion"
                                placeholder="Ingresar direccion">
                            <span class="text-danger" asp-validation-for="Propietario.Direccion"></span>
                        </div>

                        <div class="col-12 mt-1">
                            <label for="telefono" asp-for="Propietario.Telefono"
                                class="form-label mb-0">Telefono</label>
                            <input type="text" asp-for="Propietario.Telefono" class="form-control" id="telefono"
                                placeholder="Ingresar telefono">
                            <span class="text-danger" asp-validation-for="Propietario.Telefono"></span>
                        </div>

                        <div class="col-12 mt-1">
                            <label for="correo" asp-for="Propietario.Correo" class="form-label mb-0">Correo
                                Electronico</label>
                            <input type="email" asp-for="Propietario.Correo" class="form-control" id="correo"
                                placeholder="Ingresar correo">
                            <span class="text-danger" asp-validation-for="Propietario.Correo"></span>
                        </div>

                    </div>
                    <div class="row g-3">
                        <div class="col-6 mt-1">
                            <button class="w-100 btn btn-primary btn-lg mt-4" type="submit">Registrar</button>
                        </div>
                        <div class="col-6 mt-1">
                            <a class="w-100 btn btn-danger mt-4" style="color: white;"
                                asp-page="./Consultar/ConsultarProp">Regresar</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7 animate__animated animate__fadeInRight">
        <img src="~/img/propietario.png" class="w-100">
    </div>
</div>

<script>
    document.querySelector("#menuPropietario").classList.add("active");
</script>
